.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #efd8e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .logo {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #ff9eb5;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #555;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff9eb5;
  }
  